<app-loading *ngIf="loading"></app-loading>


<!-- Header -->
<div class="row mx-1 my-2" *ngIf="!loading">
  <button class="btn btn-outline-dark " [routerLink]="['/search']">Regresar</button>
</div>


<div class="row  shadow fadeIn animated " *ngIf="!loading">


  <div class="col-md-3 col-12 ">
    <img [src]="artista.images | noImages" alt="artista.nombre" class="img-thumbnail  shadow-lg my-2">
  </div>



  <div class="col-md-7 col-12  ">

    <div class="row ">
      <h3 class="display-4 col-12 ">{{artista.name}}</h3>
    </div>


    <div class="row">
      <span class="text-dark mx-1 mt-3  badge shadow p-3" *ngFor="let genero of artista.genres">
        {{genero | uppercase}}
      </span>
    </div>




  </div>



  <div class="col-md-2 col-12">


    <div class="row  text-center box-artist-min-info">

      <div class="col-12 col-md-12">
        <i class="fa fa-headphones mt-4 shadow rounded p-2" aria-hidden="true" id="audifonos"></i>
      </div>

      <div class="col-12  col-md-12 ">
        <h4>{{artista.followers.total | number}}</h4>
      </div>


    </div>

    <div class="row border-top  text-center box-artist-min-info">

      <div class="col-12 mt-2">
        <h4 >Enlaces</h4>

        <a [href]="artista.external_urls.spotify" target="_blank" >
          {{artista.name}}
        </a>
      </div>




    </div>



  </div>


</div>


<!-- Top Tracks -->
<div class="container  fadeIn animated my-4" *ngIf="!loading">

  <div *ngFor="let cancion of topTracks" class="shadow rounded row col-12  mb-4">

    <div class="col-6 mt-3 col-md-1 ">
      <img [src]="cancion.album.images[0].url" width="100%">
    </div>
    <div class="col-md-3 col-12 ">
      <h6 class="album-info "> {{cancion.album.name}}</h6>
    </div>

    <div class="col-md-4 col-12 ">
      <h6 class="album-info "> {{cancion.name}} </h6>
    </div>

    <div class="col-12 col-md-4">
     <!--  <audio [src]="cancion.preview_url" controls></audio> -->
     <iframe [src]="cancion.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


  </div>

  </div>
</div>
